# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Documents
*.md text diff=markdown
*.txt text
*.sql text

# Scripts
*.bash text eol=lf
*.fish text eol=lf
*.sh text eol=lf

# These files are text and should be normalized (Convert crlf => lf)
*.css text
*.js text
*.ts text
*.json text
*.astro text
*.html text
*.xml text
*.yaml text
*.yml text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pyc binary
*.pdf binary