---
/**
 * @fileoverview Home page component
 * @component HomePage
 */

import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Welcome to SAFS">
  <main>
    <h1>Welcome to St. Augustine Film Society</h1>
  </main>
</BaseLayout>